# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
release/*

# Debug files
*.dSYM/
*.su
.idea
.gdb_history
debug/*

# Generated Documentation
src_docs/html
src_docs/xml
src_docs/latex

# Testing
example/resultfile.*
test_files/*
test/*

# Automake
Makefile
Makefile.am
aclocal.m4
autom4te.cache/
config.log
config.status
configure
